@model MVC_WEB_Project.Models.Order

@{
    ViewData["Title"] = "Details";
}

<style>
    .row {
        text-align: center;
        display: inline-block;
        float: none;
    }
</style>

<div class="text-center">
    <h1>Order Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderNo)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.OrderNo)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Model.OrderDate.Date.ToString("yyyy-MM-dd")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
        </dl>

        <h2>Product Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr>
                        <td>@orderItem.Product.Name</td>
                        <td>@orderItem.Quantity</td>
                        <td>@orderItem.Price</td>
                        <td>@orderItem.TotalAmount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.OrderNo" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>
